ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: "Impact", sans-serif;
}

li a:hover:not(.active) {
    background-color: #ff0000;
}

.active {
    background-color: #ff0000;
}

h1{
	color: white;
	font-family: "Impact", sans-serif;
	font-size: 64px;
	text-align: center;
	text-transform: uppercase;
}

h2{
	color: white;
	font-family:"Impact", sans-serif;
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
}
p {
	color: #ffffff;
	font-family: "Impact", sans-serif;
	font-size: 46px;
	font-weight: 200;
text-align: left;
text-transform: uppercase;
    margin-right: 200px;
    margin-left: 10px;	
}

h3 {
	color: #E8B8C7;
	font-family: "Impact", sans-serif;
	font-size: 36px;
	font-weight: 200;
text-align: left;
text-transform: uppercase;	
}

h4 {
	color: #E8B8C7;
	font-family: "Impact", sans-serif;
	font-size: 36px;
	font-weight: 200;
text-align: left;
text-transform: uppercase;	
}

h5 {
	color: #E8B8C7;
	font-family: "Impact", sans-serif;
	font-size: 36px;
	font-weight: 200;
text-align: left;
text-transform: uppercase;	
}

table, td, th {    
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
	text-align: center;
    padding: 9px;
}

tr:hover {background-color: black}

th {
    color: white;
}

td
{
    font-family: "Impact", sans-serif;
	color: white;
	font-size: 36px;
}

#content img {
  float: right;
}
